.info-card{
    width: 35vh;
    margin: auto;
    border-radius: 2vh;
    transition: all 1s;
    background-color: aliceblue;
    text-align: center;
}

.flash-card{
    width: 40vh;
    height:80vh;
    margin: auto;
    margin-top: 5vh;
    border-radius: 30px;
    background-color: darksalmon;
    transition: all 1s;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

hr.rounded {
  border-top: 8px solid #000000;
  border-radius: 5px;
  margin: 5px;
}

.text{
    display: block;
    color: #000000;
    position: absolute;
    bottom: 0;
    font-size: 9vh;
    font-weight: bold;
}

.text-operand{
    width: 85%;
    text-align: right;
    margin-left: auto; 
    margin-right: 0;
}

.text-operator{
    width: 100%;
    display: flex;
}

.row{
    margin: auto; 
    width: inherit;
    height: 20%; 
}

.answer-col{
    cursor: default;
    font-size: 3vh;
    font-weight: bold;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 70%;
    background-color: aliceblue;
    transition: all 1s;
}

.info-text,.score-text{
    margin:auto;
    font-size: 2vh;
    cursor: default;
    font-weight: bold;
    transition: all 1s;
}

.again-btn{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 3vh;
    width: 35vh;
}

.again-btn-container{
    position: relative;
    margin: auto; 
    width: inherit;
    height: 10%; 
}

