.flash-card{
    width: 40vh;
    height:60vh;
    margin:auto;
    border-radius: 30px;
    background-color: darksalmon;
}

.container{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

hr.rounded {
  border-top: 8px solid #000000;
  border-radius: 5px;
  margin: 5px;
}

.text{
     display: block;
    color: #000000;
    position: absolute;
    bottom: 0;
    font-size: 9vh;
    font-weight: bold;
}

.text-operand{
     
    width: 85%;
    text-align: right;
    margin-left: auto; 
    margin-right: 0;
}

.text-operator{
    width: 100%;
    display: flex;
}

.row{
    margin: auto; 
    width: inherit;
    height: 20%; 
}

.answer-col{
    cursor: default;
    transition: all 1s;
    font-size: 3vh;
    font-weight: bold;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 100%;
    background-color: aliceblue
}

.answer-col:hover{
    transform: scale(1.2);
    background-color: greenyellow;
}